<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Пользователи{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 border border-primary">
            <div class="row">
                <h1>Добавление</h1>
                <form method="post" action="/postComment" id="post">
                    <div class="col-10">
                        <label for="postTitle">Текст комментария</label>
                        <input type="text" name="commentText" id="commentText" class="form-control-sm">
                    </div>
                    <div class="col-10">
                        <label for="description">Автор поста</label>
                        <select name="authorId" class='form-control' >
                            <option>Нет пользователей</option>
                            {% for user in users %}
                                <option value="{{ user.getId() }}">{{ user.getId() }}  {{ user.getName() }}</option>
                            {% endfor %}
                        </select>
                    </div><div class="col-10">
                        <label for="description">Пост</label>
                        <select name="postId" id="postId" class='form-control'>
                            <option>Нет постов</option>
                            {% for post in posts %}
                                <option value="{{ post.getId() }}">{{ post.getId() }}  </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-10"><input type="submit" class="btn btn-primary mt-3" value="POST"></div>
                </form>
            </div>
        </div>
        <div class="col-4 border border-warning">
            <h1>Изменение</h1>
            <form method="post" action="/putComment" id="change">
                <input type="hidden" name="_method" value="PUT">
                <div class="col-10">
                    <label for="id">ID комментария</label>
                    <input type="text" name="id" id="changeId" class="form-control-sm">
                </div>
                <div class="col-10">
                    <label for="postTitle">Текст комментария</label>
                    <input type="text" name="commentText" id="commentText" class="form-control-sm">
                </div>
                <div class="col-10">
                    <label for="description">Автор поста</label>
                    <select name="authorId" class='form-control' >
                        <option>Нет пользователей</option>
                        {% for user in users %}
                            <option value="{{ user.getId() }}">{{ user.getId() }}  {{ user.getName() }}</option>
                        {% endfor %}
                    </select>
                </div><div class="col-10">
                    <label for="description">Пост</label>
                    <select name="postId" id="postId" class='form-control'>
                        <option>Нет постов</option>
                        {% for post in posts %}
                            <option value="{{ post.getId() }}">{{ post.getId() }}  </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-10"><input type="submit" class="btn btn-warning mt-3" value="Put"></div>
            </form>
        </div>
        <div class="col-4 border border-danger">
            <h1>Удаление</h1>
            <form method="post" action="/deleteComment" id="delete">
                <input type="hidden" name="_method" value="DELETE">
                <div class="col-7">
                    <label for="id">Введите ID Комментария</label>
                    <input type="text" name="id" id="deleteId" class="form-control-sm">
                </div>
                <div class="col-7"><input type="submit" class="btn btn-danger mt-3" value="Delete"></div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#postId').change(function(event){
        $('#post').attr('action','/postComment/'+ event.target.value);
    });

    $('#changeId').change(function(event){
        $('#change').attr('action','/putComment/'+ event.target.value);
    });

    $('#deleteId').change(function(event){
        $('#delete').attr('action','/deleteComment/'+ event.target.value);
    });

</script>
</body>
</html>